body{
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
}
*{
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: bisque;
  color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position:sticky;
  top: 0;
}
.logo{
  display: inline-block;
}

.nav-links{
  float: right;
}

.button{
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
  background-color: rgba(255, 124, 77, 0.884);
  color: rgb(48, 47, 47);
  text-decoration: none;
}